<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include('./partials/style.ejs')%>
</head>

<body>
    <%-include('./partials/navbar.ejs')%>
    <br>
    <a href="/addpost/<%=dataUser.id%>" class="btn btn-primary">add post</a>
    <form action="/listPost/<%= dataUser.id %>? " method="get">
      <input type="text" name="search" style="width: 70%; border-radius: 5px; margin-bottom: 15px;"> <input type="submit" value="search">
      </form>
      <% dataPost.forEach(el=>{ %>
      <div class="container-post">
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%=el.User.username %></h5>
          <h6><%= el.createdAt %></h6>
          <p class="card-text"><%= el.caption %></p>
          <p><b>Tag : </b>Belajar, politik, membaca</p> 
          <a href="/listpost/<%=dataUser.id%>/like/<%=el.id%>" class="btn btn-success">Like <%=el.likeCount%></a> <a href="/listpost/<%=dataUser.id%>/postdislike/<%=el.id%>" class="btn btn-warning"> Dislike <%=el.dislikeCount%></a>  <a href="/listpost/<%=dataUser.id%>/delete/<%= el.id %> " class="btn btn-danger">delete</a>
        </div>
      </div>
    </div>
  <%})%>
</body>
</html>